<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="css/All.css">
</head>
<body>
    <div class="magic">
        <div class="menu_Button" onclick="dropDown()">
            <img src="icons/menu.png" alt="">
        </div>
       </div>
        <div class="line_1">
            <div class="line_1_Eles">
                My Resume
            </div>
            <div class="menus">
                <a href="/home">Home</a>
            </div>
            <div class="menus">
                <a href="/about">About</a>
            </div>
            <div class="menus">
                <a href="/skills">Skills</a>
            </div>
            <div class="menus">
                <a href="/experience">Experience</a>
            </div>
            <div class="menus">
                <a href="/education">Education</a>
            </div>
            <div class="menus">
                <a href="myProjects">My Projects</a>
            </div>
            <div class="menus">
                <a href="/contact">Contact</a>
            </div>
        </div>
        <div class="left content">
            My Experience
        </div>
        <div class="right"></div>
    <script src="js/resume.js"></script>
</body>
</html>