<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Resume</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
   <div class="magic">
    <div class="menu_Button" onclick="dropDown()">
        <img src="icons/menu.png" alt="">
    </div>
   </div>
        <div class="line_1">
            <div class="line_1_Eles">
                My Resume
            </div>
            <div class="menus">
                <a href="/home">Home</a>
            </div>
            <div class="menus">
                <a href="/about">About</a>
            </div>
            <div class="menus">
                <a href="/skills">Skills</a>
            </div>
            <div class="menus">
                <a href="/experience">Experience</a>
            </div>
            <div class="menus">
                <a href="/education">Education</a>
            </div>
            <div class="menus">
                <a href="myProjects">My Projects</a>
            </div>
            <div class="menus">
                <a href="/contact">Contact</a>
            </div>
        </div>
    <div class="line_2">
        <div class="left">
            <div class="temp_1">Sai Varun Chowdary Poludasu</div>
            <div class="temp_2">
                <span class="span">Web Developer</span>
                <p class="MyText">
                    I'm a Junior Full Stack Developer with a passion for creating innovative and user friendly web applications . With a solid foundation in both front-end and backend technologies,I strive to deliver high-quality solutions that meet client needs and enhance the user experience.   
                </p>
                <p class="MyText">
                    I possess strong problem-solving and analytical skills, enabling me to efficiently identify and resolve issues. 
                </p>
                <p class="MyText">
                    I am seeking opportunities to contribute my skills and enthusiasm to a dynamic and innovative organization. If you are looking for a dedicated and motivated Junior Full Stack Developer to join your team, I would love to connect and discuss how I can contribute to your company's success.
                </p>
            </div>
        </div>
        <div class="right">
            <img src="images/mypic.jpg" alt="">
            <div></div>
        </div>
        <div class="bottom">
            <div class="S_out" >
                <a href="https://www.linkedin.com/in/sai-varun-chowdary-poludasu-908051259" target="_blank">
                    <div class="socialMedia">
                        <img src="icons/icons8-linkedin.svg" alt="">
                        Linked In
                    </div>
                </a>
            </div>
            <div class="S_out">
                <a href="https://instagram.com/saivarunchowdarypoludasu?igshid=NTc4MTIwNjQ2YQ==" target="_blank">
                    <div class="socialMedia">
                        <img src="icons/icons8-instagram-90.png" alt="">
                        Instagram
                    </div>
                </a>
            </div>
            <div class="S_out">
                <a href="https://www.facebook.com/saivarunchowdary.poludasu" target="_blank">
                    <div class="socialMedia">
                        <img src="icons/icons8-facebook.svg" alt="">
                        Facebook
                    </div>
                </a>
            </div>
            <div class="S_out">
                <a href="https://twitter.com/SaiPoludasu" target="_blank">
                    <div class="socialMedia">
                        <img src="icons/icons8-twitter-90.png" alt="">
                        Twitter
                    </div>
                </a>
            </div>
            
        </div>
    </div>
    <script src="js/resume.js"></script>
</body>
</html>