<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Projects</title>
    <link rel="stylesheet" href="css/All.css">
</head>
<body>
    <div class="magic">
        <div class="menu_Button" onclick="dropDown()">
            <img src="icons/menu.png" alt="">
        </div>
       </div>
        <div class="line_1">
            <div class="line_1_Eles">
                My Resume
            </div>
            <div class="menus">
                <a href="/home">Home</a>
            </div>
            <div class="menus">
                <a href="/about">About</a>
            </div>
            <div class="menus">
                <a href="/skills">Skills</a>
            </div>
            <div class="menus">
                <a href="/experience">Experience</a>
            </div>
            <div class="menus">
                <a href="/education">Education</a>
            </div>
            <div class="menus">
                <a href="myProjects">My Projects</a>
            </div>
            <div class="menus">
                <a href="/contact">Contact</a>
            </div>
        </div>
        <div class="left content">
            <div class="Sub_1 height_1">
                <a href="https://github.com/VarunChowdary0" target="_blank">
                    <h2>Git hub repository</h2>
                    <p class="gitName">VarunChowdary0</p>
                </a>
                <div class="S_out git" >
                    <a href="https://mail.google.com/mail/u/0/?fs=1&to=saivarunchowdarypoludasu4248@gmail.com&tf=cm" target="_blank">
                        <div class="socialMedia">
                            <img src="icons/Gmail-icons.png" alt="">
                                <p>Open</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="UnSub_1">
            <h2>Deployed Projects</h2>
            <div class="prj_links">
                <a href="https://custom-tab.onrender.com/" target="_blank">A Custom Tab with React.js</a>
                <a href="https://todo-manager-2mqv.onrender.com/" target="_blank">To do Application</a>
                <a href="https://test-chat-me-qo7j.onrender.com/" target="_blank">Signup and SignIn using Node Js</a>
                <a href="https://teamx-learner.onrender.com" target="_blank">A flask website having Chat Box</a>
            </div>
        </div>
        <div class="right"></div>
    <script src="js/resume.js"></script>
</body>
</html>