body{
    color: aliceblue;
    min-width: 340px;
    background-color: rgba(17, 17, 18, 0.975);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 60px;
}

.menu_Button{
    display: none;
}
.line_1{
    position: fixed;
    top: 0;
    left: 0;
    right: 8px;
    background-color: aliceblue;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 200;
}
.line_1_Eles{
    font-size: 30px;
    color: black;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.menus a{
    color: rgb(172, 148, 110);
    text-decoration: none;    
    font-weight: 600;     
}
.menus{
    padding: 15px 7px;
    border-radius: 10px;
    
}
.menus:hover{
    background-color: rgb(227, 227, 227);
    transition: 0.2s ;
}
.content{
    margin: 0;
    padding: 2%;
    font-size: 18px;
    margin-left: 4%;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content p{
    line-height: 25px;
}
.content p:hover{
    cursor: pointer;
}
.decorations{
    display: flex;
    min-width: 300px;
    position: absolute;
    top: 20px;
    z-index: -1;
}


.c{
    background-color: rgb(218, 165, 32);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    transition: all 0.2s;
    
}

.c1{
    width: 20px;
    height: 20px;
    box-shadow: 0 0 20px rgb(242, 206, 0);
    animation: bounce1 0.5s 3 ease-in-out;
}
.c2{
    width: 40px;
    height: 40px;
    animation: bounce2 0.5s 3 ease-in-out;
}
.c5{
    width: 80px;
    height: 80px;
    animation: bounce5 0.5s 3 ease-in-out;
}
.c7{
    width: 160px;
    height: 160px;
    animation: bounce7 0.5s 3 ease-in-out;
}
.c10{
    width: 320px;
    height: 320px;
    animation: bounce10 0.5s 3 ease-in-out;
}
.bottom{
    position: absolute;
    bottom: -220px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    left: 0;
    right: 50%;
    align-items: center;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}
.socialMedia{
    font-size: 14px;
    padding: 10px 5px;
    width: 70px;
    border-radius: 10px;
    padding-left: 10px;
    transition: background-color 0.4s;
}
.socialMedia:hover{
    background-color: rgb(18, 18, 18);
}
.socialMedia img{
    width: 80%;
}
.Sub_1{
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 400px;
}
.Sub_2{
   margin-top: 370px;
}
.Sub_3{
    margin-top: 50px;
    margin-bottom: 50px;
}
.call{
    margin-left: 50px;
    position: relative;
}
.call p{
    width: 100px;
    position: absolute;
    left: 0px;
}
.roots_1{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.hr_5{
    width: 85%;
}
@keyframes bounce1 {
    0%{
        transform: translateY(0);
        box-shadow: 0 0 0px gold;
    }
    50%{
        transform: translateY(5px);
        box-shadow: 0 0 0px gold;
    }
    100%{
        transform: translateY(0);
        box-shadow: 0 0 0px gold;
    }
}
@keyframes bounce1 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-7px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes bounce2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(12px);
        box-shadow: 0 0 5px gold;
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes bounce5 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
        box-shadow: 0 0 10px gold;
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes bounce7 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(17px);
        box-shadow: 0 0 10px gold;
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes bounce10 {
    
    0%{
        transform: translateY(0);
        box-shadow: 0 0 50px gold;
    }
    50%{
        transform: translateY(-20px);
        box-shadow: 0 0 35px gold;
    }
    100%{
        transform: translateY(0);
        box-shadow: 0 0 20px gold;
    }
}
@media screen and (max-width: 625px) {
    .line_1{
        display: none;
    }
    body{
        margin-top: 30px;      
    }
    .menu_Button{
        display: inline-block;
        height: 50px;
        width: 50px;
        background-color: rgb(10, 10, 10);
        border-radius: 23px;
        position: fixed;
        left: 8px;
        top: 20px;
        z-index: 100;
    }
    .menus:hover{
    background-color: rgba(34, 33, 33, 0.512);
    }
    .SideDrop{
        width: 100px;
        background-color: rgba(0, 0, 0, 0.476);
        padding-left: 10px;
        border-radius: 8px;
        padding: 10px;
        position: absolute;
        top: 60px;
        left: 5px;
        filter: none;
    }
    .menu_Button img{
        width: 55%;
        position: relative;
        top: 12px;
        left: 11px;
    }
    .decorations{
        flex-direction: column;
        animation: wave 1.2s 1 ease-in-out;
        position: absolute;
        left: 10px;
    }
    @keyframes wave {
        0%{
            transform: rotate(720deg); 
        }
        100%{
            transform: rotate(0deg); 
        }
        
    }
    .content{
        margin-top: 60px;
    }
    .c1{
        width: 10px;
        height: 10px;
    }
    .c2{
        width: 20px;
        height: 20px;
    }
    .c5{
        width: 40px;
        height: 40px;
    }
    .c7{
        width: 80px;
        height: 80px;
    }
    .c10{
        width: 150px;
        height: 150px;
    }
}