body{
    color: aliceblue;
    min-width: 340px;
    background-color: rgba(17, 17, 18, 0.975);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 60px;
}

.menu_Button{
    display: none;
}
.line_1{
    position: fixed;
    top: 0;
    left: 0;
    right: 8px;
    background-color: aliceblue;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 200;
}
.line_1_Eles{
    font-size: 30px;
    color: black;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.menus a{
    color: rgb(172, 148, 110);
    text-decoration: none;         
}
.menus{
    padding: 15px 7px;
    border-radius: 10px;
    
}
.menus:hover{
    background-color: rgb(227, 227, 227);
    transition: 0.2s ;
}
.line_2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left,.right{
    height: 665px;
    flex: 1;
}
.right{
    max-width: 300px;
    min-width: 300px;
    /* background-color: aqua; */
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 0px;
}
.left{
    position: relative;
    
    left: -8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.right img{
    width: 100%;
}
.temp_1{
    font-size: 3rem;
    flex: 1; 
    color: goldenrod;
}
.temp_2{
    margin-top: 20px;
    min-width: 280px; 
}
.span{
    font-size: 2rem;
}
.MyText{
    font-size: 17px;
    max-width: 70%;
    line-height: 30px;
}

@media screen and (max-width: 1005px) {
    .temp_1{
        font-size: 45px;
        width: 600px;
    }
    .MyText{
        width: 50%;
    }
    .span{
    font-size: 1.8rem;
}
}
@media screen and (max-width: 825px) {
    .temp_1{
        font-size: 30px;
        width: 400px;
    }
    .span{
    font-size: 1.5rem;
}
}
@media screen and (max-width: 660px) {
    .temp_1{
        font-size: 25px;
        width: 300px;
    }
    .bottom{
        margin-left: 170px;
    }
}
@media screen and (max-width: 625px) {
    .line_1{
        display: none;
    }
    .MyText{
        width: 100%;
        font-size: 15px;
        line-break:auto;
    }
    body{
        margin-top: 30px;
        
    }
    .span{
    font-size: 1.4rem;
    }
    .line_2{
        display: flex;
        margin-top: 50px;
        margin-left: 10px;
        flex-direction: column;
        padding: 0;
    }
    .temp_1{
        font-size: 30px;
        width: 300px;
    }
    .right{
        position: relative;
        display: flex;
        max-width: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0;
    }
    .right img{
        width: 300px;
    }
    .menu_Button{
        display: inline-block;
        height: 50px;
        width: 50px;
        background-color: rgb(10, 10, 10);
        border-radius: 23px;
        position: fixed;
        left: 8px;
        top: 20px;
        z-index: 100;
    }
    .menus:hover{
    background-color: rgba(34, 33, 33, 0.512);
     }
    .SideDrop{
        width: 100px;
        background-color: rgba(0, 0, 0, 0.476);
        padding-left: 10px;
        border-radius: 8px;
        padding: 10px;
        position: absolute;
        top: 60px;
        left: 5px;
        filter: none;
    }
    .menu_Button img{
        width: 55%;
        position: relative;
        top: 12px;
        left: 11px;
    }
    .socialMedia img{
        width: 50%;
        margin-left: 10px;
    }
}